body {
	overflow: auto;
	background-color: #e9ebee !important;
}
/*----------BANER----------*/
#baner {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	background-color: white;
	box-shadow: 10px 6px 5px #d9d9d9;
}

#divLogo {
	width: 280px;
	height: 80px;
	display: flex;
	justify-items: center;
	align-items: center;
}

#logo {
	margin-left: 20px;
}


/*--------------SEARCH MENU--------------*/
#searchMenu {
	position: absolute;
	top: 80px;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 100%;
	height: 80px;
}


#searchMenu .container {
	display: flex;
	justify-content: center;
	align-items: center;
}
#searchMenu .row {
	width: 80% !important;
}

.dropdown-menu {
    margin-top: 5px;
    padding: 4px 15px !important;
    min-width: 410px !important;
}

#class {
	border-radius: 6px;
}

.btn {
	padding: 6px 10px;
	border-top: 1px solid #ced4da !important;
	border-bottom: 1px solid #ced4da !important;
    border-radius: 0px !important;
}

select {
	font-size: 15px !important;
}

.btn-primary {
	margin-left: -3px;
	outline: none !important;
	border-top-right-radius: 6px !important;
	border-bottom-right-radius: 6px !important;
	border-bottom: 1px solid #ced4da !important;
	border-top: 1px solid #ced4da !important;
	border-right: 1px solid #ced4da !important;
}


/*--------------GRID MENU--------------*/
#holderDiv {
	position: absolute;
	top: 160px;
	left: 0;
	width: 100%;
}

#holderDiv .container {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 40px;
}

#holderDiv .row {
	width: 80%;
	display: flex;
	margin-top: 20px;
	justify-content: center;
	align-items: center;
}

body a {
	font-size: 18px;
	color: black;
	text-decoration: none;
}
body a:hover {
	color: black;
	text-decoration: underline;
}

#holderDiv .col-sm-width, .col {
	text-align: center;
	margin: 10px;
	height: 220px;
	width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	background-color: white;
}

#holderDiv .longCol {
	text-align: center;
	height: 100px;
	width: 95%;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	background-color: white;
}

/*-----------FOOTER---------*/

#footer {
	position: absolute;
	left: 0;
	height: 114px;
	width: 100%;
	display: flex;
	flex-direction: row;
	border-top: 1px solid #bfbfbf;
}

#infoDiv {
	width: 50%;
	height: 114px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
#infoDiv p {
	margin: 0px;
	margin-left: 30px;
}


#autorAndIconsDiv {
	width: 50%;
	height: 114px;
	display: flex;
	justify-content: end;
	align-items: center;
	flex-direction: column;
}

#autorDiv {
	display: flex;
	justify-content: end;
	align-items: end;
	width: 100%;
	height: 57px;
}

#autor {
	margin: 0px;
	margin-right: 30px;
}

#footer i {
	font-size: 19px;
}

#iconsDiv {
	padding: 10px 40px;
	height: 57px;
	width: 100%;
	display: flex;
	justify-content: end;
	align-items: start;
}

#iconsDiv img {
	margin-right: 10px;
	width: 20px;
}

/*-----------MEDIA------------*/
/*---media main---*/
@media screen and (max-width: 1200px) {
	#holderDiv .col-sm-width {
		height: 100px;
	}
	#holderDiv .longCol {
		height: 100px;
		width: 400px;
	}
}

/*---media footer---*/
@media screen and (max-width: 455px) {
	#infoDiv {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	#autorAndIconsDiv {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#footer p {
		margin: 5px;
	}

	#autor {
		text-align: right;
	}

	#iconsDiv {
		padding: 0px 0px;
	}
}












