body {
	overflow: auto;
	background-color: #e9ebee !important;
}


/*----------BANER----------*/
#baner {
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	background-color: white;
	box-shadow: 10px 6px 5px #d9d9d9;
}

#divLogo {
	width: 280px;
	height: 80px;
	display: flex;
	justify-items: center;
	align-items: center;
}

#logo {
	margin-left: 20px;
}

/*---------MAIN---------*/
#main {
	top: 80px;
	left: 0;
	width: 100%;
}

#headerDiv {
	width: 100%;
	padding-top: 30px;
	padding-bottom: 10px;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

#backDiv {
	display: flex;
	min-width: 100px;
}

#backDiv i {
	font-size: 17px;
}

#backButton {
	margin-left: 30%;
	text-decoration: none;
	color: black;
}

#backButton:hover {
	color: black;
	text-decoration: underline;
}

#workNameDiv {
	text-align: center;
	width: calc(100% - 100px);
	display: flex;
	justify-content: center;
	align-items: center;
}

#work_name {
	margin-left: -100px;
}

#nameLastnameDiv {
	width: 100%;
	height: auto;
	padding-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-weight: bold;
}

#descriptionDiv {
	height: auto;
	width: 100%;
	padding: 10px 100px;
	text-align: center;
}

#workDiv {
	height: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}

#work {
	width: 340px;
}

/*-----------FOOTER---------*/

#footer {
	left: 0;
	height: 104px;
	width: 100%;
	display: flex;
	flex-direction: row;
	border-top: 1px solid #bfbfbf;
}

#infoDiv {
	text-align: center;
	width: 50%;
	height: 114px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
#infoDiv p {
	margin: 0px;
	margin-left: 30px;
}


#adminDiv {
	text-align: center;
	width: 50%;
	height: 114px;
}

#admin {
	margin: 0px;
	margin-right: 30px;
}

#footer i {
	font-size: 19px;
}

#footer a {
	font-size: 18px;
	color: black;
	text-decoration: none;
}

#footer a:hover {
	color: black;
	text-decoration: underline;
}

.fa-facebook-square {
	color: #007bff;
}


/*-------------MEDIA--------------*/
@media screen and (max-width: 700px) {
	/*----media main---*/
	#descriptionDiv {
		padding: 10px 20px;
	}
}

@media screen and (max-width: 455px) {
	/*----media main---*/
	#backButton {
		margin-left: 10%;	
	}

	/*---media footer---*/
	#infoDiv {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	#adminDiv {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#footer p {
		text-align: center;
		margin: 5px;
	}
}
