.classData {
	width: 200px !important;
}

#actionMenuTable {
	width: 50%;
	min-width: 428px;
	padding: 5px 0px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: auto;
	margin-bottom: 10px;
	background-color: white;
}

#actionMenuTable a {
	margin: 0px;
	margin-left: 20px;
	margin-right: 20px;
	text-decoration: none;
	cursor: pointer;
}

#actionMenuTable button {
	margin: 0px;
	margin-left: 20px;
	margin-right: 20px;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: white;
}