/*-----STYLE FOR MAIN DIVS-------*/
#allStuff {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#allInputs {
	width: 100%;
}

#inputsDiv {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


/*-----STYLE FOR CHANGE DATA IN USER----*/
#changeDiv {
	margin-top: 30px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#chnageInputsDiv {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

#chnageInputsDiv input {
	width: 49%;
	margin: 5px;
}

#changeSelectDiv {
	margin-top: 5px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;	
}

#changeSelectDiv div {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#submitChangeDiv {
	margin-top: 10px;
}

/*-----STYLE FOR EDITS INPUTS-------*/
#selectFileDiv  {
	width: 100%;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#selectDiv {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#submitEditButtonDiv {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}


/*-----STYLE FOR ADD INPUTS-------*/

#inputsFileTextDiv {
	margin-top: 30px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

#inputsFileTextDiv input {
	width: 49%;
	margin: 5px;
}

#inputFileSelectDiv {
	margin-top: 5px;
}

/*--------STYLE FOR TABLE--------*/
#divTable {
	margin-top: 50px;
}

/*--------STYLE FOR BUTTON--------*/
.removeButton {
	margin-right: 10px;
	color: red;
	border: none;
	cursor: pointer;
	background-color: transparent;
}










