#holder {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	width: 100%;
}

.work_name {
	text-align: center;
}

.description {
	margin-top: 30px;
}

.img {
	margin: auto;
	width: 300px;
}