body {
	overflow: auto;
	background-color: #e9ebee !important;
}

/*---------MAIN STYLES----------*/
.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 40px;
}

.row {
	width: 80%;
	display: flex;
	margin-top: 20px;
	justify-content: center;
	align-items: center;
}


/*--------------SEARCH MENU--------------*/
#searchMenu {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 100%;
	height: auto;
}

#searchRow {
	flex-direction: row !important;
	margin-top: 40px;
	padding: 10px 20px;
}

#input {
	padding: 5px 10px;
	width: calc(820px - 100px);
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

#searchButton {
	width: auto !important;
	padding: 5px 15px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

#selectRow {
	padding: 10px 20px;
}

.dropdown {
	width: 280px !important;
	margin-top: 10px;
	margin-bottom: 10px;
}

.text {
	font-size: 17px !important;
}

/*--------------GRID MENU--------------*/
#holderDiv {
	top: 160px;
	left: 0;
	width: 100%;
}

body a {
	font-size: 18px;
	color: black;
	text-decoration: none;
}
body a:hover {
	color: black;
	text-decoration: underline;
}


#holderDiv .col-sm-width {
	text-align: center;
	margin: 10px;
	height: 220px;
	width: 400px;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	background-color: white;
	transition: 1s;
	cursor: pointer;
}

#holderDiv .longCol {
	height: 100px;
	width: 820px;
}


.col-sm-width:hover {
	transform: scale(1.07);
}


/*-----------MEDIA------------*/
/*---media main---*/
@media screen and (max-width: 1200px) {
	#holderDiv .col-sm-width {
		height: 100px;
	}

	#holderDiv .longCol {
		height: 100px;
		width: 400px;
	}

	#selectRow .dropdown {
		width: 100% !important;
		padding: 0px 0px;
	}

	#searchMenu .row {
		padding: 10px 0px;
		max-width: 400px !important;
	}

	#input {
		width: calc(100% - 100px);
	}
}

/*---media footer---*/
@media screen and (max-width: 455px) {
	#searchMenu .row {
		padding: 10px 5px !important;
	}
}











