body {
	overflow: auto;
	background-color: #e9ebee !important;
}

/*--------BACK DIV STYLE---------*/
#backDiv {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: flex-end;
}

#backButton {
	margin-left: 20px;
	text-decoration: none;
	color: black;
}
#backButton:hover {
	text-decoration: underline;
	color: black;
}

/*--------------SEARCH MENU--------------*/
#searchMenu {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 100%;
	height: auto;
}


.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.row {
	width: 80%;
	display: flex;
	margin-top: 20px;
	justify-content: center;
	align-items: center;
}

#searchRow {
	padding: 10px 20px;
	flex-direction: row !important;
	margin-top: 30px;
}

#input {
	padding: 5px 10px;
	width: calc(820px - 100px);
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

#searchButton {
	width: auto !important;
	padding: 5px 15px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

#selectRow {
	width: 80% !important;
	padding: 10px 20px;
}

.dropdown {
	width: 280px !important;
	margin-top: 10px;
	margin-bottom: 10px;
}

.text {
	font-size: 17px !important;
}


/*---------TABLE DIV--------*/
#mainDiv {
	width: 100%;
}

#tableDiv {
	margin-top: 40px;
	width: 100%;
	min-height: 580px;
	margin-bottom: 15px;
}

#holderTable {
	overflow-x: auto;
	padding-bottom: 10px;
}


#table {
	display: none;
	margin: auto;
	width: 50% !important;
}

tr {
	background-color: white;
	height: 40px;
}

td, th {
	border-bottom: 1px solid #ced4da;
	padding: 0px 10px;
}

th {
	border-bottom: 2px solid #ced4da;
}

.buttonData {
	width: 125px !important;
	padding: 6px 10px;
}

.buttonView {
	background-color: #007bff;
	padding: 4px 15px;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-content: center;
	cursor: pointer;
	color: white;
	text-decoration: none;
	border: 1px solid #ced4da;
}

.buttonView:hover {
	color: white;
	text-decoration: none;
}

.nameLastname {
	min-width: 250px !important;
}

.classData {
	width: 100px !important;
}

.workData {
	min-width: 200px !important;
}


/*-----------MEDIA------------*/
/*---media main---*/
@media screen and (max-width: 1200px) {
	#selectRow .dropdown {
		width: 100% !important;
		padding: 0px 0px;
	}

	#searchMenu .row {
		padding: 10px 0px;
		max-width: 400px !important;
	}

	#input {
		width: calc(100% - 100px);
	}
}

/*---media footer---*/
@media screen and (max-width: 455px) {
	#tableDiv {
		min-height: 400px;
	}

	#searchMenu .row {
		padding: 10px 5px !important;
	}

}

