body {
	overflow: auto;
	background-color: #e9ebee !important;
}


/*---------MAIN---------*/
#main {
	top: 80px;
	left: 0;
	width: 100%;
}

#mainInfoDiv {
	min-height: 810px;
	padding-bottom: 10px;
}

#headerDiv {
	width: 100%;
	padding-top: 30px;
	padding-bottom: 10px;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

#backDiv {
	display: flex;
	min-width: 100px;
}

#backDiv i {
	font-size: 17px;
}

#backButton {
	margin-left: 30%;
	text-decoration: none;
	color: black;
}

#backButton:hover {
	color: black;
	text-decoration: underline;
}

#workNameDiv {
	text-align: center;
	width: calc(100% - 100px);
	display: flex;
	justify-content: center;
	align-items: center;
}

#work_name {
	margin-left: -100px;
}

#nameLastnameDiv {
	width: 100%;
	height: auto;
	padding-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-weight: bold;
}

#descriptionDiv {
	height: auto;
	width: 100%;
	padding: 20px 100px;
	text-align: center;
}

#workDiv {
	height: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}

#work {
	width: 360px;
}



/*-------------MEDIA--------------*/
@media screen and (max-width: 700px) {
	/*----media main---*/
	#descriptionDiv {
		padding: 20px 20px;
	}
}

@media screen and (max-width: 455px) {
	/*----media main---*/
	#backButton {
		margin-left: 10%;	
	}

	#work {
		width: 300px;
	}

	#mainInfoDiv {
		min-height: 700px;
	}
}

